/* .ab{
    background: rgb(27, 20, 20);
    width: 18%;
}


#side-nav{
    background: rgb(226, 223, 223);
    min-width: 250px;
    max-width: 250px ;
}
.content{
    min-height: 100vh;
    width: 80%;
} */
/* 
hr.h-color{
     background: #eee;
     border-radius: 8px;
     } 
.sidebar li.active a,   .sidebar li.active a:hover{ 
    color: #000;
   
 }
  .sidebar li a{
     color: #fff; 
    }
.a{
    font-size: xx-large;
    color: green;
} */